<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="{% static "css/lmx.css" %}"
    <meta charset="utf-8">
    <title>Enrolled Students</title>
  </head>
  <body>
    <h1>Course Enrolled Students</h1>
    <table border="2">
      <thead>
        <th>First Name</th>
        <th>Second Name</th>
      </thead>
      {% for eachEntry in data%}
      <tr>
        <td>{{eachEntry.firstName}}</td>
        <td>{{eachEntry.lastName}}</td>
      </tr>
      {%endfor%}
    </table>
    <a href="/">Home</a>
  </body>
</html>
